@model MessageThreadViewModel

<div class="row">
    <div class="col-sm-12">
        <div class="message-header">@{ FromLink(Model.FirstMessage); }</div>
        <div class="messages-container">
            @foreach (var message in Model.Messages)
            {
                await Html.RenderPartialAsync("_Message", message);
            }
        </div>
    </div>
</div>

@section header {
    @{ await Html.RenderPartialAsync("_HeaderNav", Model.IsModerator); }
}

@functions {
    public void FromLink(MessageWrapped message)
    {
        if (message.FromSub != null)
        {
            ViewContext.Writer.Write($"<a href=\"{Url.Sub(message.FromSub.Name)}\" class=\"author\">{message.FromSub.Name}</a>");
        }
        else if (message.Author != null)
        {
            ViewContext.Writer.Write($"<a href=\"{Url.User(message.Author.UserName)}\" class=\"author\">{message.Author.UserName}</a>");
        }
    }
}