<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CassandraCSharpDriver" version="2.7.2" targetFramework="net45" />
  <package id="lz4net" version="1.0.9.93" targetFramework="net45" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0-rc1-final" targetFramework="net45" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0-rc1-final" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NLog" version="4.2.0" targetFramework="net45" />
  <package id="Npgsql" version="3.0.3" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.5.6" targetFramework="net45" />
  <package id="ServiceStack" version="4.0.46" targetFramework="net45" />
  <package id="ServiceStack.Client" version="4.0.46" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.46" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.46" targetFramework="net45" />
  <package id="ServiceStack.OrmLite" version="4.0.46" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.PostgreSQL" version="4.0.46" targetFramework="net45" />
  <package id="ServiceStack.RabbitMq" version="4.0.46" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="4.0.46" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.46" targetFramework="net45" />
</packages>