[submodule "puppet"]
	path = puppet
	url = https://github.com/skimur/skimur-puppet.git
[submodule "submodules/NodeServices"]
	path = submodules/NodeServices
	url = https://github.com/skimur/NodeServices.git
