@{
    ViewBag.Title = "About";
}

<div class="page-header">
    <h1>About us</h1>
</div>
<p>
    Skimur is a content aggregation website. It is powered by the open-sourced <a href="https://github.com/skimur">Skimur platform</a>. 
    Users can share ideas and discuss things with like-minded people.
</p>
<p>
    All legal content will be permitted, as defined by our <a href="@Url.ContentPolicy()">Content Policy</a>. 
    We strive to give every community a place to share content and ideas.
</p>

<h2>Why?</h2>

<p>
    Sure, there are a few other sites that are centered around the same principle, but many lack the features that are required for quality discussions.
    In addition to adding better tooling support, we have a lot of new things planned (details soon-to-be released). 
    Our framework is built to support a massive scale, so availability isn't an issue.
</p>

<h2>Who is behind this?</h2>

<p>
    This site is developed by Paul (<a href="/u/pknopf">/u/pknopf</a>) and contributors.
    Paul manages the overall architecture/implementation, ensuring speed and availalibity.
    We are currently looking for developers to help make this site amazing.
    Please see the <a href="https://github.com/skimur/skimur/wiki/Contributing">Contributing</a> page at GitHub for more information. It is really easy to get involved!
</p>

<h2>Getting involved</h2>

<p>
    We greatly appreciate any users who wish to discussion new features.
    All features/suggestions should be submmited <a href="https://github.com/skimur/skimur/issues">here</a>, on GitHub.
    We review all items.
</p>

<p>
    Also, create a community. Submit quality content. Engage people in discussions. Spread the word!
</p>

<h2>Contacting us</h2>

<p>
    You can contact us be sending an email to hello@@skimur.com.
</p>