@using Subs.ReadModel
@model ReportedCommentsViewModel
@{
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

<div class="row">
    <div class="col-lg-9 col-sm-8">
        @if (Model.Comments != null && Model.Comments.Count > 0)
        {
            foreach (var comment in Model.Comments)
            {
                @Html.Partial("_CommentNode", new CommentNode(comment))
            }
        }
        else
        {
            <p>There are no comments to display.</p>
        }
    </div>
    <div class="col-lg-3 col-sm-4">
        @{Html.RenderSideBar(subId: Model.Sub.Id);}
    </div>
</div>