@model EmbeddedModel
{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="skimur, skimur.com, comment, post, link, submit, share" />
    <meta name="description" content="Skimur: Speak, be heard." />
    <title>@ViewBag.Title - Skimur</title>
</head>
<body>
   @Model.Url
</body>
</html>
