<footer class="footer">
    <p>Use of this site constitutes acceptance of our <a href="/help/useragreement">User Agreement</a> and <a href="/help/privacypolicy">Privacy Policy</a>. &copy; @DateTime.Now.Year Skimur.com. All rights reserved.</p>
</footer>