@using Subs
@using Subs.ReadModel
@model CommentListModel

<div class="comments-container">
    @if (Model.Comments != null && Model.Comments.Count > 0)
    {
        foreach (var comment in Model.Comments)
        {
            @Html.Partial("_Comment", comment)
        }
    }
</div>