@model List<Subs.ReadModel.SubWrapped>

<div class="layout-topbar">
    <ul>
        <li>
            <a href="/">front</a>
        </li>
        <li>
            <a href="/s/all">all</a>
        </li>
        <li>
            <a href="/s/random">random</a>
        </li>
        @foreach (var sub in Model)
        {
            <li>
                <a href="@Url.Sub(sub.Sub.Name)">@sub.Sub.Name</a>
            </li>
        }
    </ul>
    <a class="topbar-edit" href="@Url.Subs()">Edit</a>
</div>