@model CreateEditSubModel
@{
    ViewBag.Title = "Edit";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Subs", new { id = Model.Name }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Edit sub.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.Partial("_SubCreateEdit", Model)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Update" />
        </div>
    </div>
}