@model CreateEditSubModel
@{
    ViewBag.Title = "Sub settings";
}

<div class="row">
    <div class="col-lg-9 col-sm-8">
        <h2 class="page-header">@ViewBag.Title</h2>
        @using (Html.BeginForm("Edit", "Subs", new { id = Model.Name }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.Partial("_SubCreateEdit", Model)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </div>
        }
    </div>
    <div class="col-lg-3 col-sm-4">
        @{Html.RenderSideBar(subName: Model.Name);}
    </div>
</div>