@model SubPosts
@{
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

<div class="row">
    <div class="col-lg-9 col-sm-8">
        @foreach (var post in Model.Posts)
        {
            @post.Title
        }
    </div>
    <div class="col-lg-3 col-sm-4">

        <div class="panel">
            <a href="@Url.CreatePost()" class="btn btn-primary btn-block">Submit a new link</a>
            <a href="@Url.CreatePost()" class="btn btn-primary btn-block">Submit a new post</a>
        </div>

        @if (Model.Sub != null)
        {
            @Html.Action("ModerationSideBar", new { subName = Model.Sub.Name })
        }

    </div>
</div>

