.layout-topbar {
    white-space: nowrap;
    background: @gray-lighter;

    > ul {
        list-style-type: none;
        display: inline;
        margin: 0px;
        padding: 0px;

        > li {
            display: inline;

            > a {
                display: inline-block;
                .button-size(0; @padding-base-horizontal / 2; @font-size-base; @line-height-base; 0);
            }
        }
    }

    .topbar-subscriptions {
        > .btn {
            .button-size(0; @padding-base-horizontal; @font-size-base; @line-height-base; 0);
            border:none;
        }
    }

    .topbar-edit {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        font-weight: bold;
        .button-size(0; @padding-base-horizontal / 2; @font-size-base; @line-height-base; 0);
        background: @gray-lighter;
    }
}

.layout-header {
    border-radius: 0;
    margin-bottom: 0px;
    background: lighten(@gray-lighter, 3%);
    border-bottom: 1px solid @nav-tabs-active-link-hover-border-color;
    border-top: 1px solid @nav-tabs-active-link-hover-border-color;
    .navbar-brand {
        padding: 4px 4px 4px 20px;

        img {
            height: 42px;
        }
    }
}

.body-content {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    margin-top: @line-height-computed;
    padding-top: @line-height-computed;
    padding-bottom: @line-height-computed;
    border: 0;
    border-top: 1px solid @hr-border;
    text-align: center;
    font-size: @font-size-small;
    color:@gray-light;
}