.post {
    .post-voting {
        color: @gray-light;
        font-size: ceil((@font-size-base * 1.2));
        float: left;
        width: 45px;

        .up, .votes, .down {
            display: block !important;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .up, .down {
            .fa;
            cursor: pointer;
        }

        .votes {
            cursor: default;
        }

        .up {
            .fa-mixin-icon(chevron-up);
        }

        .down {
            .fa-mixin-icon(chevron-down);
        }

        &.voted-up {
            .up, .votes {
                color: @brand-success;
            }

            .down {
                color: lighten(@gray-light, 40%);
            }
        }

        &.voted-down {
            .down, .votes {
                color: @brand-danger;
            }

            .up {
                color: lighten(@gray-light, 40%);
            }
        }
    }

    .post-body {
        overflow: hidden;

        .post-title {
            margin: 0;

            .post-link {
                font-size: @font-size-large;
            }

            .post-domain {
                font-size: @font-size-small;
                color: @gray;

                &:hover,
                &:focus {
                    color: darken(@gray, 50%);
                }
            }
        }

        .post-meta {
            margin: 0px;
            font-size: @font-size-small;
            color: @gray;
        }

        .post-links {
        }
    }
}
