
.btn-sub {
    text-align:center;

    > .sub, > .unsub, > .subbed {
        min-width:82px;
        display:block;
    }

    > .sub .icon {
        .fa;
        .fa-mixin-icon(plus-circle);
    }

    &.subscribed {
        > .sub, > .unsub {
            display: none;
        }
        .btn-primary;
        &:hover {
            > .subbed {
                display:none;
            }
            > .unsub {
                display:block;
            }
            .btn-danger;
        }
    }
    &.unsubscribed {
        > .subbed, > .unsub {
            display: none;
        }
    }
}

.sub {
    .sub-subunsub {
        float: left;
        margin-right: 7px;
        margin-left: 7px;
        min-width: 111px;
        text-align: center;
    }

    .sub-body {
        overflow: hidden;

        .sub-title {
            margin: 0;

            .sub-link {
                font-size: @font-size-large;
            }
        }

        .sub-description {
            .well;
            padding: 10px;
            margin-bottom: 5px;
        }

        .sub-meta {
            margin: 0px;
            font-size: @font-size-small;
            color: @gray;
        }

        .sub-links {
        }
    }
}

.sub-info {
    .sub-name {
        margin-top: 0;
    }
}
