@model UserViewModel
@{
    ViewBag.Title = Model.User.UserName;
}

<div class="row">
    <div class="col-lg-9 col-sm-8">
        <p>TBD: Stay tuned!</p>
    </div>
    <div class="col-lg-3 col-sm-4">
        @{ Html.RenderPartial("_SideBar"); }
        @{ Html.RenderSideBar(); }
    </div>
</div>

@section header {
    @Html.Partial("_HeaderNav")
}