@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Skimur</p>
    </footer>
</div>
@section scripts {
    @RenderSection("scripts", false)
}
@section header {
    @RenderSection("header", false)
}
