@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="body-content">
    <div class="container-fluid">
        @RenderBody()
    </div>
</div>
@section scripts {
    @RenderSection("scripts", false)
}

@section header {
    @RenderSection("header", false)
}